@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --grey-light-1: #EBEBEB;
  --grey-light-2: #D5D5D5;
  --grey: #C0C0C0;
  --yellow: #FAC000;
  --blue: #3E6AD8;
  --dark-blue: #164D80;
  --dark-blue-2: #0F3559;
  --black: #222222;
  --error: red;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App{
  flex-grow: 1;
}